<form action="bookmarks/<%= bookmark.id %>" method="post">
  <input type="text" name="url" />
  <input type="text" name="title" />
  <input type="hidden" name="_method" value="patch">
  <input type="submit" value="Submit" />
</form>
