<form action="" method="post">
  <input type="text" name="url" />
  <input type="text" name="title" />
  <input type="hidden" name="_method" value="post">
  <input type="submit" value="Submit" />
</form>
